@import "../../global.scss";
.navbar{
    width: 100%;
    height: 70px;
    background-color:$mainColor;
    color: white;
    position: fixed; //Place Navbar on top of website regardless of which component is being rendered, with height of 70px
    top: 0;
    z-index: 3;
    transition: all 1s ease; //Makes the transition from the navbar active to nonactive state 1 second instead of instant

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left{
            display:flex ;
            align-items: center;

            .logo{
                font-size: 30px;
                font-weight: 800;
                text-decoration: none;
                color: inherit; //Takes parent color white
                margin-right: 30px;
            }
            .itemContainer{
                display: flex; //Allows the elements to be centered
                align-items: center; //Centers the itemContainers
                margin-left: 20px;

                .icon{ //Attributes of icons
                    font-size: 30px;
                    margin-right: 5px;
                }
                span{ //Attributes of text next to icons
                    font-size: 15px;
                    font-weight: 300;
                }
            }
        }

        .right{

            .hamburger{
                width: 30px;
                height: 25px;
                display: flex;
                flex-direction: column; //Makes the lines in a column
                justify-content: space-between; //Separates the column lines with a space in between to look like the hamburger menu
                cursor: pointer;

                span{
                    width: 100%;
                    height: 3px;
                    background-color: #fc5185;
                    transform-origin: left;
                    transition: all 2s ease;
                }
            }
        }

    }

    &.active{
        background-color: #fc5185;
        color: white;


        .hamburger{
            span{
                &:first-child{
                    background-color: $mainColor;
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                    
                }
                &:last-child{
                    background-color: $mainColor;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}