.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px); //Height -70px due to Navbar being 70px in height to prevent overflow
        background-color: white;
        position: relative; //Position relative to Navbar(which is 70px in height starting from top)
        top: 70px;
        scroll-behavior: smooth; //Makes the scrolling smooth, seen when using anchor to get back to intro page
        

        scroll-snap-type: y mandatory; //Snaps the scrolling based on on y

        scrollbar-width: none; //Makes the scrollbar almost invisible unless cursor is on it (Firefox)
        &::-webkit-scrollbar{ //Same as above, but for other browsers (Safari,Chrome,etc.)
            display:none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }


    }
}